.u-section-1 .u-sheet-1 {
  min-height: 792px;
}

.u-section-1 .u-shape-1 {
  background-image: none;
  height: 736px;
  width: 430px;
  margin: 30px 60px 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  margin: -649px auto 117px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 592px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 5.625rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  margin: 6px 0 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  line-height: 1.8;
  margin: 16px 0 0;
}

.u-section-1 .u-btn-1 {
  margin-left: 0;
  margin-right: 0;
  text-transform: uppercase;
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin-top: 20px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/pastedimage01.png");
  background-position: 50% 50%;
  min-height: 296px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  min-height: 296px;
  background-image: url("images/unnamed1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  min-height: 296px;
  background-image: url("images/unnamed2.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  min-height: 296px;
  background-image: url("images/unnamed.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-1 .u-shape-1 {
    height: 699px;
    width: 298px;
    margin-top: 35px;
    margin-right: 71px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -626px;
    margin-bottom: 97px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 594px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 2rem;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 244px;
  }

  .u-section-1 .u-image-2 {
    min-height: 244px;
  }

  .u-section-1 .u-image-3 {
    min-height: 244px;
  }

  .u-section-1 .u-image-4 {
    min-height: 244px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1302px;
  }

  .u-section-1 .u-shape-1 {
    height: 361px;
    width: 820px;
    margin-top: 698px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1009px;
    margin-bottom: 13px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 374px;
  }

  .u-section-1 .u-image-2 {
    min-height: 374px;
  }

  .u-section-1 .u-image-3 {
    min-height: 374px;
  }

  .u-section-1 .u-image-4 {
    min-height: 374px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2799px;
  }

  .u-section-1 .u-shape-1 {
    width: 640px;
    margin-top: 50px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1196px;
    margin-bottom: -785px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 561px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 561px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 561px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    min-height: 561px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1998px;
  }

  .u-section-1 .u-shape-1 {
    height: 331px;
    width: 440px;
    margin-top: 742px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1028px;
    margin-bottom: 44px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 353px;
  }

  .u-section-1 .u-image-2 {
    min-height: 353px;
  }

  .u-section-1 .u-image-3 {
    min-height: 353px;
  }

  .u-section-1 .u-image-4 {
    min-height: 353px;
  }
}